<!DOCTYPE html>
 <head>
  <meta charset="UTF-8">
  <title><%=titulo%></title>
  <link rel="stylesheet" href="visual.css">
 </head>
<body>
<header>Calculadora TABAJARA</header>
<div id="menu"><a href="/">Home</a></div>
