<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <a href="cadastro">Cadastro de produtos</a><br>
    <a href="lista">Lista de produtos</a>
</body>
</html>